#content
  #content-separator-top
  #content-container.container
    hgroup#title.title
      h2 A little about us
      p Small, thoughtful, thorough.
    #intro
      p We’re Nuance, an intentionally small web design and development company based in the United States. We take on only two or three projects at a time so that we can do the best work we can and give projects the attention they deserve.
      p Here’s how we think of it: if you want a shirt, you can go to a department store or a tailor. The first will get you something quick, cheap, and good enough for a little while. The second will get you something that’s timeless and fits perfectly without getting in the way. It might cost a little more, but we see that as an investment rather than an expense.
      p 
        | If we sound like the kind of people you want to work with, 
        a(href="contact.html") get in touch 
        | we'd love to hear from you.

      img(src="images/locations.png")

    hgroup#christian.person
      hr
      h3 Christian Reuter
      p.job-title Principal Designer
      img(src="images/christian.jpg")
      .person-description
        p Living in Matthews, NC, Christian enjoys grids, ampersands, and pushing pixels at 3200%.
        p He specializes in User Experience and Information Architecture, and takes pride in making things usable and intuitive.
        p 
          | When he's not at his desk designing, you can probably find him playing 
          a(href="http://boardgamegeek.com/collection/user/jcreuter?own=1&subtype=boardgame&ff=1") board games
          | , tramping through the Smokies, or hanging out with 
          a(href="images/tanner.jpg") his 
          a(href="images/hayley.jpg") dogs
          | .

    hgroup#josh.person
      hr
      h3 Josh Klina
      p.job-title Lead Developer
      img(src="images/josh.jpg")
      .person-description
        p A Philadelphia expatriot, Josh recently moved to Danville, PA.  He's a back-end coding guru, with particular fluency in Rails.
        p 
          | Josh enjoys Kubrick films and other dystopic misadventures. He's frequently 
          a(href="http://www.flickr.com/photos/fate0000/") taking photos
          |  off at the shore or in the nearby mountains.

  #content-separator-bottom
