#banner-about.banner
  #banner-container.container
    p.banner-title Web Design for Humans by Humans
    p.banner-text It's nice to meet you.


#content.blue
  #content-container.container
    hgroup.tagline
      hr.double
      p We provide unique web solutions for your particular needs, and the tools and knowledge to promote and monitor its growth.
      hr.double.bottom
    #intro
      p We’re Nuance, an intentionally small web design and development company based in the United States. We take on only two or three projects at a time so that we can do the best work we can and give projects the attention they deserve.
      p Here’s how we think of it: if you want a shirt, you can go to a department store or a tailor. The first will get you something quick, cheap, and good enough for a little while. The second will get you something that’s timeless and fits perfectly without getting in the way. It might cost a little more, but we see that as an investment rather than an expense.
      p 
        | If we sound like the kind of people you want to work with, then 
        a(href="/contact") get in touch
        |. We'd love to hear from you.

    #map
      img(src="images/locations.png")

    #josh.bio
      img.pic(src="images/josh.png")
      hgroup
        hr.double
        h1 Josh Klina
        p.serif Lead Developer
        .description
          p A Philadelphia expatriot, Josh recently moved to Danville, PA.  He's a back-end coding guru, with particular fluency in Rails.
          p 
            | Josh enjoys Kubrick films and other dystopic misadventures. He's frequently 
            a(href="http://www.flickr.com/photos/fate0000/") taking photos
            |  off at the shore or in the nearby mountains
            | .

    #christian.bio
      img.pic(src="images/christian.png")
      hgroup
        hr.double
        h1 Christian Reuter
        p.serif Principal Designer
        .description
          p A North Carolina native, Christian enjoys grids, ampersands, and pushing pixels at 3200%.
          p He specializes in User Experience and Information Architecture, and takes pride in making things usable and intuitive.
          p 
            | When he's not at his desk designing, you can probably find him playing 
            a(href="http://boardgamegeek.com/collection/user/jcreuter?own=1&subtype=boardgame&ff=1") board games
            | , tramping through the Smokies, or hanging out with 
            a(href="images/tanner.jpg") his 
            a(href="images/hayley.jpg") dogs
            | .


