

#banner-contact.banner

#content.black
  #content-container.container

    hgroup.tagline
      hr.double
      p Interested in working with us, or just want to say hi?  Tell us a little about yourself, and we’ll get back to you as soon as possible.
      hr.double.bottom
      
    form(name="contact-form", action="#", method="POST", accept-charset="UTF-8")

      #budget-note
        p.description Don’t worry about getting all the details now; this is just an introduction, not a commitment.<br /><br />However, please be honest with yourself, and us, about your budget target.  A realistic budget can help us properly assess expectations and  goals up front, and will save both of us time and energy in the long run.
      
      #left
        label.style(for="name") Your Name
        input#name(name="name", type="text")
        label.style(for="message_email_address") Your E-mail Address
        input#name(name="message[email_address]", size="30", type="text")
        label.style(for="message_budget") Your Budget
        select#message_budget(name="message[budget]")
          option(value="$1,000 - $2,500") $1,000 - $2,500
          option(value="$2,500 - $5,000") $2,500 - $5,000
          option(value="$5,000 - $10,000") $5,000 - $10,000 
          option(value="$10,000 - $20,000") $10,000 - $20,000
          option(value="$20,000 +") $20,000 +

      #right
        label.style.textarealabel(for="message_body") Tell us about your project
        textarea#message_body(cols="40", rows="6", name="message[body]")
        input#submit(type="submit", name="mysubmit", value="Send Message", onclick="show_alert()")
