#banner
  .container
    hr
    #info
      p We're Nuance, an intentionally small design and development company based in the United States.
      p We're thoughtful, strategic, and can help your brand shine
      a#button(href="/contact") Request a Quote

    #hero

#content
  #content-separator-top
  #content-container.container
    hgroup#services.quart
      h3 What We Can Offer
      p A unique web solution customized for your particular needs, and a robust set of tools to monitor your growth.
      a(href="/services") Read More »
    hgroup#portfolio.quart
      h3 A Peek at our Work
      p We take pride in our work, we would love to share a sample of our recent projects. Take a look!
      a(href="/portfolio") Read More »
    hgroup#about.quart
      h3 More About Us
      p We're based in Danville, PA and Matthews, NC, but work with clients across the globe.
      a(href="/about") Read More »
    hgroup#contact.quart
      h3 Request a Quote
      p Say Hello! Tell us about your business and needs, and find out more about what we can do for you.
      a(href="/contact") Read More »

  #content-separator-bottom
