#banner-index.banner
  .container
    #info
      p We're Nuance, an intentionally small design and development company based in the United States.
      p We're thoughtful, strategic, and can help make your brand shine.
      a(href="/contact")
        #button

    #hero

#content.black
  #content-container.container
    #index-container
      hgroup.quart
        hr.double
        h1 Services & Process
        p.description A unique web solution customized for your particular needs, and a robust set of tools to monitor your growth.
        a(href="/services") Read More -
      hgroup.quart
        hr.double
        h1 A Peek at our Work
        p.description We take pride in our work, we would love to share a sample of our recent projects. Have a look.
        a(href="/portfolio") Read More -
      hgroup.quart
        hr.double
        h1 More About Us
        p.description We're based in Danville, PA and Matthews, NC, but work with clients across the globe.
        a(href="/about") Read More -
      hgroup.quart
        hr.double
        h1 Request a Quote
        p.description Get in touch! Tell us about your business and needs, and find out more about what we can do for you.
        a(href="/contact") Read More -

