!!!
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/animate.css")
    script(src="http://use.typekit.com/has5gal.js")
    script
        try{Typekit.load();}catch(e){}
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21761852-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  header
    #header-container.container
      #logo-container
        a(href="/")
          img#logo.animated(src="../images/logo.png")
          
      p#company-name 
        a(href='/') Nuance Design
                              
      nav
        ul
          li
            hgroup
              a(href='/services') Services
              br
              span.description what we do
          li
            hgroup
              a(href='/portfolio') Our Work 
              br
              span.description selected projects
          li
            hgroup
              a(href='/about') About Us
              br
              span.description the colophon
          li
            hgroup
              a(href='/contact') Contact
              br
              span.description say hello

  body!= body

  footer.black
    #footer-container.container
      #testimonial
        hr.double
        p &#8220;It is very important to work with a partner that knows exactly what they are doing and are sensitive to the details of the design. I have felt very lucky working with Nuance. Nuance has reflected my designs onto the world of web, with precise detail.&#8221;
        hgroup#author
          author Hamit Kanuni Kuralkan, 
          span#location Creative Director for GAMA
      
      #contact
        hr.double
        h1 Contact Us
        span.description Anytime between 9AM and 5PM EST
        p
          a(href="mailto:hello@madewithnuance.com?subject=howdy") hello@madewithnuance.com
        span.location Matthews, NC
        span.number (252) 469-6892
        br
        span.location Danville, PA
        span.number (610) 960-8227
        
    hr.single
    .container
      p#twitter Follow us on Twitter 
        a(href="http://www.twitter.com/nuancedesign") @nuancedesign
      p#portal 
        a(href="#") Secure Client Portal
    .white
      .container  
        p#copyright ©2006-2012 Nuance Design LLC all rights reserved.  
          a(href="/contact")  Contact us for Request for Proposal
          
