#banner-portfolio.banner
  #banner-container.container
    p.banner-title The Portfolio
    p.banner-text A small selection of recent projects.


#content.light
  #content-container.container
    .project
      hgroup.project-info
        h1 Desktopography
        p.serif CMS, Analytics, Custom Development
        p.description Designers and developers spend about 90% of their waking life in front of a computer so the most appealing genre for a wallpaper would be one that has beautiful design mixed with the all important aspect of being outdoors.

        p.description What we see everyday can affect our mood and state of mind, enhance your desktop with a wallpaper creation from Desktopography and feel the essence of nature and the outdoor existence on your computer. We built Desktopography as a place for designers across the world to exhibit their artwork, and give your background a breath of fresh air.
        a(href="http://desktopography.net") Visit Site »
      img.screenshot(src="images/desktopography.png")
      img.screenshot(src="images/desktopography_2.png")
    
#content.blue  
  #content-container.container
    .project
      hgroup.project-info
        h1 GAMA Medical Technologies
        p.serif Custom Design &amp; Development
        p.description GAMA Medical Technologies contacted us to build a clean, legible site showcasing their industrial design solutions to medicine storage and management.
        a(href="http://www.gamamt.com/") Visit Site »
      img.screenshot(src="images/gama.png")

#content.black      
  #content-container.container
    .project
      hgroup.project-info
        h1 Arbooska
        p.serif Information Architecture, User Experience, Custom Design
        p.description We were contracted to help design the user experience and overall aesthetic for a local classifieds startup, based in Canada.
      img.screenshot(src="images/arbooska.png")
      