#content
  #content-separator-top
  #content-container.container
    hgroup#title.title
      h2 Our Work
      p Lorem ipsum dolor sit amet, consecutor.

    .project
      hgroup.project-info
        h3 Golden Sun Jewelry
        p.description E-Commerce, CMS, Analytics, Custom Design &amp; Development
        p Golden Sun Jewelry is a family owned jewelry store in Michigan.  They reached out to us hoping to extend their business into online sales.  We worked together to build an E-Commerce platform, with a dedicated Content Management System to manage payment processing and inventory.
        a(href="http://goldensunjewelry.net") Visit Site »
      img.screenshot(src="images/gsj.png")
      img.screenshot(src="images/gsj_2.png")
    
    .project
      hgroup.project-info
        h3 GAMA Medical Technologies
        p.description Custom Design &amp; Development
        p GAMA Medical Technologies contacted us to build a clean, legible site showcasing their industrial design solutions to medicine storage and management.
        a(href="http://www.gamamt.com/") Visit Site »
      img.screenshot(src="images/gama.png")
      
    .project
      hgroup.project-info
        h3 Archann
        p.description Javascript, CMS, Analytics, Custom Design &amp; Development
        p Archan Nair is an illustrator and art director living in India, with clients ranging from Nike to Microsoft.  We designed and developed a dynamic gallery to display his illustrations, and built an accompanying Content Management System to upload new work and edit metadata.  
        a(href="archann.net") Visit Site »
      img.screenshot(src="images/archan.png")
      img.screenshot(src="images/archan_2.png")
      



  #content-separator-bottom
