#content
  #content-separator-top
  #content-container.container
    hgroup#title.title
      h2 Our Work
      p Lorem ipsum dolor sit amet, consecutor.

    .project
      hgroup.project-info
        h3 Wildfire
        p.description Branding and Strategy, CMS, Custom Design &amp; Development
        p Quis pork irure, labore ham bacon est qui exercitation officia frankfurter shankle leberkase ea. Deserunt minim turducken pariatur tenderloin tail. Venison magna pork belly, duis meatball shank elit proident ullamco. Andouille prosciutto shankle, excepteur culpa officia short loin beef cow ball tip. Bresaola meatball brisket et tempor boudin. Incididunt jerky sirloin, irure t-bone et ex laboris boudin pig cupidatat veniam. Enim duis rump, ut ribeye ball tip brisket.
      img.screenshot(src="images/screenshot_1.png")
      img.screenshot(src="images/screenshot_1.png")

    .project
      hgroup.project-info
        h3 Drinklist
        p.description Branding and Strategy, CMS, Custom Design &amp; Development
        p Quis pork irure, labore ham bacon est qui exercitation officia frankfurter shankle leberkase ea. Deserunt minim turducken pariatur tenderloin tail. Venison magna pork belly, duis meatball shank elit proident ullamco. Andouille prosciutto shankle, excepteur culpa officia short loin beef cow ball tip. Bresaola meatball brisket et tempor boudin. Incididunt jerky sirloin, irure t-bone et ex laboris boudin pig cupidatat veniam. Enim duis rump, ut ribeye ball tip brisket.
      img.screenshot(src="images/screenshot_2.png")
      img.screenshot(src="images/screenshot_2.png")

  #content-separator-bottom
