#banner-portfolio.banner

#content.light
  #content-container.container
    .project
      hgroup.project-info
        h1 Golden Sun Jewelry
        p E-Commerce, CMS, Analytics, Custom Design &amp; Development
        p.description Golden Sun Jewelry is a family owned jewelry store in Michigan.  They reached out to us hoping to extend their business into online sales.  We worked together to build an E-Commerce platform, with a dedicated Content Management System to manage payment processing and inventory.
        a(href="http://goldensunjewelry.net") Visit Site »
      img.screenshot(src="images/gsj.png")
      img.screenshot(src="images/gsj_2.png")
    
#content.blue  
  #content-container.container
    .project
      hgroup.project-info
        h1 GAMA Medical Technologies
        p Custom Design &amp; Development
        p.description GAMA Medical Technologies contacted us to build a clean, legible site showcasing their industrial design solutions to medicine storage and management.
        a(href="http://www.gamamt.com/") Visit Site »
      img.screenshot(src="images/gama.png")

#content.black      
  #content-container.container
    .project
      hgroup.project-info
        h1 Archann
        p Javascript, CMS, Analytics, Custom Design &amp; Development
        p.description Archan Nair is an illustrator and art director living in India, with clients ranging from Nike to Microsoft.  We designed and developed a dynamic gallery to display his illustrations, and built an accompanying Content Management System to upload new work and edit metadata.  
        a(href="http://archann.net") Visit Site »
      img.screenshot(src="images/archan.png")
      img.screenshot(src="images/archan_2.png")
