#content
  #content-separator-top
  #content-container.container
    hgroup#Title.title
      h2 What We Do
      p We provide a unique web solution for your particular needs, and the tools and knowledge to promote and monitor its growth.

    hgroup#design.quart
      img(src="images/services_1.png")
      h3 Custom Design &amp; Coding
      p We design and develop individually unique websites from scratch to meet your uniquely specific needs.

    hgroup#cms.quart
      img(src="images/services_2.png")
      h3 CMS
      p Custom suited Content Management Systems allow you to easily edit and upload dynamic content.


    hgroup#analytics.quart
      img(src="images/services_3.png")
      h3 Analytics
      p Analytics integration lets measure traffic, referrals, revenue and community engagement.

    hgroup#advertising.quart
      img(src="images/services_4.png")
      h3 Advertising
      p We provide online advertising consultation and optimization, from Google Adwords to Microsoft AdCenter to Facebook CPC.

    hgroup#social.quart
      img(src="images/services_5.png")
      h3 Social
      p Social network integration gets people talking and facilitates community engagement across the web.

    hgroup#seo.quart
      img(src="images/services_6.png")
      h3 SEO
      p Our search-engine-friendly site maps and metadata work to increase your page ranking, helping drive traffic to your website. 

    hgroup#pr.quart
      img(src="images/services_7.png")
      h3 Public Relations
      p We write press releases and design press kits, brochures, newsletters, and reports to help your business gain exposure. 

    hgroup#ecommerce.quart
      img(src="images/services_8.png")
      h3 E-Commerce Strategy
      p We provide training and infrastructure for payment processing, inventory, and cost management, while our A/B and multivariate testing methodically increases conversion rates.

  #content-separator-bottom
