#banner-services.banner
  #banner-container.container
    p.banner-title Services & Process
    p.banner-text A little about what we do and how we go about doing it.


#content.blue
  #content-container.container
    hgroup.tagline
      hr.double.top
      p We provide unique web solutions for your particular needs, and the tools and knowledge to promote and monitor its growth.
      hr.double.bottom

    #code.half
      img(src="images/services_1.png")
      hgroup
        h1 Custom Design &amp; Coding
        p.description Our designs are individually tailored from scratch to meet your brand's specific and particular needs. Our designs are individually tailored from scratch to meet your brand's specific and particular needs.

    #cms.half
      img(src="images/services_2.png",
        onclick="document.getElementById('code').classList.add('hinge');"
        )
      hgroup
        h1 Content Management
        p.description Custom built Content Management Systems allow you to easily edit and upload dynamic content. Custom built Content Management Systems allow you to easily edit and upload dynamic content.

    #analytics.half
      img(src="images/services_3.png")
      hgroup
        h1 Traffic and Revenue Analytics
        p.description Analytics integration lets you measure traffic, referrals, revenue and community engagement. Analytics integration lets you measure traffic, referrals, revenue and community engagement.

    #ads.half
      img(src="images/services_4.png")
      hgroup
        h1 Search and Display Advertising
        p.description We provide online advertising consultation and optimization, from Google Adwords and Microsoft AdCenter to Facebook CPC.We provide online advertising consultation and optimization, from Google Adwords and Microsoft AdCenter to Facebook CPC.

    #social.half
      img(src="images/services_5.png")
      hgroup
        h1 Social
        p.description Social network integration gets people talking and facilitates community engagement across the web. Social network integration gets people talking and facilitates community engagement across the web.

    #seo.half
      img(src="images/services_6.png")
      hgroup
        h1 SEO
        p.description Our search-engine-friendly site maps and metadata work to increase your page ranking, helping drive traffic to your website.  Our search-engine-friendly site maps and metadata work to increase your page ranking, helping drive traffic to your website. 

    #pr.half
      img(src="images/services_7.png")
      hgroup
        h1 Public Relations
        p.description We write press releases and design press kits, brochures, newsletters, and reports to help your business gain exposure.  We write press releases and design press kits, brochures, newsletters, and reports to help your business gain exposure. 

    #ecommerce.half
      img(src="images/services_8.png")
      hgroup
        h1 E-Commerce Strategy
        p.description We provide training and infrastructure for payment processing, inventory, and cost management, while our A/B and multivariate testing methodically increases conversion rates. We provide training and infrastructure for payment processing, inventory.
        