body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
@import "reset.css";
@import "buttons.css";
body {
  font-family: "ff-meta-web-pro";
  margin: 0;
  background-image: url("../images/tile-black.gif");
  font-size: 110%;
}
header {
  background-color: #fff;
}
.container {
  width: 1180px;
  margin: 0 auto;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: #aaa;
}
a:hover {
  color: #cc333f;
}
h1,
label {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: normal;
}
.description {
  color: #aaa;
  font-size: 0.85em;
  line-height: 1.6em;
}
.tagline {
  display: inline;
  float: left;
  overflow: hidden;
  width: 96.66666666666667%;
  margin: 0 1.6666666666666667%;
  *width: 96.66666666666667% -correction;
  *margin: 0 1.6666666666666667% -correction;
}
hr {
  margin-top: 3em;
}
.bottom {
  margin-top: 0;
  margin-bottom: 2em;
}
.double {
  border-style: none;
  height: 3px;
  background-image: url("../images/hr-double.png");
}
.single {
  border-style: none;
  height: 1px;
  background-image: url("../images/hr-single.png");
  margin-bottom: 0;
}
.black {
  color: #fff;
}
.black hgroup a {
  color: #fff;
}
.blue {
  background-image: url("../images/tile-blue.gif");
  color: #fff;
}
.blue hgroup a {
  color: #fff;
}
.light {
  background-image: url("../images/tile-light.gif");
}
.light p,
.light a {
  color: #313131;
}
#logo-container {
  display: inline;
  float: left;
  overflow: hidden;
  width: 13.333333333333334%;
  margin: 0 1.6666666666666667%;
  *width: 13.333333333333334% -correction;
  *margin: 0 1.6666666666666667% -correction;
}
#logo {
  margin: 12px 0;
  padding-left: 18px;
}
#logo:hover {
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  -moz-animation-name: swing;
  -ms-animation-name: swing;
  -o-animation-name: swing;
  animation-name: swing;
}
#company-name {
  display: inline;
  float: left;
  overflow: hidden;
  width: 13.333333333333334%;
  margin: 0 1.6666666666666667%;
  *width: 13.333333333333334% -correction;
  *margin: 0 1.6666666666666667% -correction;
  margin-top: 3em;
  margin-left: -40px;
}
#company-name a {
  color: #000;
}
#company-name a:hover {
  color: #cc333f;
}
ul {
  float: right;
}
li {
  list-style: none;
  float: left;
}
nav {
  display: inline;
  float: left;
  overflow: hidden;
  width: 63.33333333333333%;
  margin: 0 1.6666666666666667%;
  *width: 63.33333333333333% -correction;
  *margin: 0 1.6666666666666667% -correction;
  letter-spacing: 0.15em;
  margin-bottom: 24px;
  margin-top: 24px;
  float: right;
}
nav hgroup {
  margin-left: 30px;
}
nav a {
  color: #000;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}
nav a:hover {
  color: #cc333f;
}
nav .description {
  letter-spacing: 0;
}
.banner {
  height: 399px;
}
.banner-container {
  display: inline;
  float: left;
  overflow: hidden;
  width: 96.66666666666667%;
  margin: 0 1.6666666666666667%;
  *width: 96.66666666666667% -correction;
  *margin: 0 1.6666666666666667% -correction;
}
.banner-title {
  font-size: 2.25em;
  color: #fff;
  margin-top: 4em;
  margin-bottom: 0;
  margin-left: 8.472222222222221%;
  text-shadow: 1px 1px 4px #111;
}
.banner-text {
  color: #fff;
  font-style: italic;
  margin-top: 0;
  margin-left: 8.472222222222221%;
  text-shadow: 1px 1px 4px #111;
}
.banner-text a {
  color: #fff;
}
.banner-text a:hover {
  color: #cc333f;
}
#testimonial {
  display: inline;
  float: left;
  overflow: hidden;
  width: 63.33333333333333%;
  margin: 0 1.6666666666666667%;
  *width: 63.33333333333333% -correction;
  *margin: 0 1.6666666666666667% -correction;
  font-size: 1em;
  line-height: 1.7em;
}
#author {
  float: right;
  font-size: 0.85em;
}
author {
  font-weight: bold;
}
#location {
  color: #aaa;
}
#contact {
  display: inline;
  float: left;
  overflow: hidden;
  width: 30%;
  margin: 0 1.6666666666666667%;
  *width: 30% -correction;
  *margin: 0 1.6666666666666667% -correction;
}
#contact h1 {
  margin-bottom: 0;
}
#contact a {
  color: #cc333f;
}
.location {
  display: inline;
  float: left;
  overflow: hidden;
  width: 46.666666666666664%;
  margin: 0 1.6666666666666667%;
  *width: 46.666666666666664% -correction;
  *margin: 0 1.6666666666666667% -correction;
  margin-left: 0;
}
.number {
  display: inline;
  float: left;
  overflow: hidden;
  width: 46.666666666666664%;
  margin: 0 1.6666666666666667%;
  *width: 46.666666666666664% -correction;
  *margin: 0 1.6666666666666667% -correction;
  text-align: right;
  margin-right: 0;
  float: right;
}
#twitter {
  display: inline;
  float: left;
  overflow: hidden;
  width: 46.666666666666664%;
  margin: 0 1.6666666666666667%;
  *width: 46.666666666666664% -correction;
  *margin: 0 1.6666666666666667% -correction;
  margin: 1.5em 0;
  font-size: 0.85em;
}
#portal {
  display: inline;
  float: left;
  overflow: hidden;
  width: 46.666666666666664%;
  margin: 0 1.6666666666666667%;
  *width: 46.666666666666664% -correction;
  *margin: 0 1.6666666666666667% -correction;
  text-align: right;
  margin: 1.5em 0;
  float: right;
  font-size: 0.85em;
}
#copyright {
  display: inline;
  float: left;
  overflow: hidden;
  width: 96.66666666666667%;
  margin: 0 1.6666666666666667%;
  *width: 96.66666666666667% -correction;
  *margin: 0 1.6666666666666667% -correction;
  margin: 1.5em 0;
  font-size: 0.85em;
}
#copyright a {
  color: #cc333f;
}
.white {
  background-color: #fff;
  color: #000;
}
/* Index  */
#banner-index {
  background-image: url("../images/banner-index.jpg");
}
#info {
  display: inline;
  float: left;
  overflow: hidden;
  width: 46.666666666666664%;
  margin: 0 1.6666666666666667%;
  *width: 46.666666666666664% -correction;
  *margin: 0 1.6666666666666667% -correction;
  color: #fff;
  font-size: 1.4em;
  text-shadow: 1px 1px 4px #111;
  font-weight: 300;
  margin-top: 3em;
}
#button {
  background: url("../images/button.png");
  height: 53px;
  width: 225px;
  float: right;
  -moz-box-shadow: 0px 2px 2px #222;
  -webkit-box-shadow: 0px 2px 2px #222;
  -moz-box-shadow: 0px;
  -webkit-box-shadow: 0px;
  box-shadow: 0px;
  margin: 5px;
}
#button:hover {
  background-position: 0 -53px;
}
#button:active {
  background-position: 0 -106px;
}
#button:active -moz-box-shadow: 0px1px1pxrgba(255,
#button:active 255,
#button:active 255,
#button:active 0.3) {
  -webkit-box-shadow: 0px 1px 1px rgba(255,255,255,0.30);
  -moz-box-shadow: 0px;
  -webkit-box-shadow: 0px;
  box-shadow: 0px;
}
#hero {
  display: inline;
  float: left;
  overflow: hidden;
  width: 46.666666666666664%;
  margin: 0 1.6666666666666667%;
  *width: 46.666666666666664% -correction;
  *margin: 0 1.6666666666666667% -correction;
  background: url("../images/hero.png") no-repeat;
  margin-top: 61px;
  height: 338px;
}
.quart {
  display: inline;
  float: left;
  overflow: hidden;
  width: 21.666666666666668%;
  margin: 0 1.6666666666666667%;
  *width: 21.666666666666668% -correction;
  *margin: 0 1.6666666666666667% -correction;
}
.quart a {
  color: #fff;
  font-size: 0.85em;
  font-weight: bold;
  text-transform: uppercase;
}
.quart a:hover {
  color: #cc333f;
}
/* Services  */
#banner-services {
  background-image: url("../images/banner-services.jpg");
}
.half {
  display: inline;
  float: left;
  overflow: hidden;
  width: 46.666666666666664%;
  margin: 0 1.6666666666666667%;
  *width: 46.666666666666664% -correction;
  *margin: 0 1.6666666666666667% -correction;
}
.half img {
  width: 32px;
  margin-top: 4px;
  float: left;
}
.half hgroup {
  display: inline;
  float: left;
  overflow: hidden;
  width: 88.33333333333333%;
  margin: 0 1.6666666666666667%;
  *width: 88.33333333333333% -correction;
  *margin: 0 1.6666666666666667% -correction;
  float: right;
}
#ecommerce {
  margin-bottom: 3em;
}
/* Portfolio  */
#banner-portfolio {
  background-image: url("../images/banner-portfolio.jpg");
}
.project {
  display: inline;
  float: left;
  overflow: hidden;
  width: 96.66666666666667%;
  margin: 0 1.6666666666666667%;
  *width: 96.66666666666667% -correction;
  *margin: 0 1.6666666666666667% -correction;
  margin-top: 4em;
}
.project-info {
  display: inline;
  float: left;
  overflow: hidden;
  width: 30%;
  margin: 0 1.6666666666666667%;
  *width: 30% -correction;
  *margin: 0 1.6666666666666667% -correction;
}
.project-info h1 {
  margin-bottom: 0;
}
.project-info a {
  font-size: 0.85em;
  font-weight: bold;
  text-transform: uppercase;
}
.project-info a:hover {
  color: #cc333f;
}
.serif {
  font-family: "skolar";
  font-style: italic;
  font-size: 0.8em;
  margin-top: 0;
}
.screenshot {
  display: inline;
  float: left;
  overflow: hidden;
  width: 63.33333333333333%;
  margin: 0 1.6666666666666667%;
  *width: 63.33333333333333% -correction;
  *margin: 0 1.6666666666666667% -correction;
  float: right;
  border-size: 1px solid;
  margin-bottom: 4em;
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.30);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px;
  -webkit-box-shadow: 0px;
  box-shadow: 0px;
}
.phase-info {
  display: inline;
  float: left;
  overflow: hidden;
  width: 30%;
  margin: 0 1.6666666666666667%;
  *width: 30% -correction;
  *margin: 0 1.6666666666666667% -correction;
}
#phases {
  display: inline;
  float: left;
  overflow: hidden;
  width: 63.33333333333333%;
  margin: 0 1.6666666666666667%;
  *width: 63.33333333333333% -correction;
  *margin: 0 1.6666666666666667% -correction;
}
.phase {
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
#discovery-bar {
  background-color: #0095a8;
  width: 13.3333%;
}
#discovery-bar:hover {
  background-color: #11b0b9;
}
#design-bar {
  background-color: #5d4136;
  width: 33.3333%;
  margin-left: 13.3333%;
}
#design-bar:hover {
  background-color: #6a4a3c;
}
#frontend-bar {
  background-color: #c62d38;
  width: 33.3333%;
  margin-left: 26.6666%;
}
#frontend-bar:hover {
  background-color: #cc333f;
}
#backend-bar {
  background-color: #e95c3a;
  width: 33.3333%;
  margin-left: 46.6666%;
}
#backend-bar:hover {
  background-color: #eb6841;
}
#deployment-bar {
  background-color: #ebc348;
  width: 20%;
  margin-left: 80%;
  margin-bottom: 6em;
}
#deployment-bar:hover {
  background-color: #fad96c;
}
/* About  */
#banner-about {
  background-image: url("../images/banner-about.jpg");
}
#intro {
  display: inline;
  float: left;
  overflow: hidden;
  width: 63.33333333333333%;
  margin: 0 1.6666666666666667%;
  *width: 63.33333333333333% -correction;
  *margin: 0 1.6666666666666667% -correction;
}
#intro a {
  color: #cc333f;
}
#map {
  display: inline;
  float: left;
  overflow: hidden;
  width: 30%;
  margin: 0 1.6666666666666667%;
  *width: 30% -correction;
  *margin: 0 1.6666666666666667% -correction;
}
#map img {
  display: inline;
  float: left;
  overflow: hidden;
  width: 96.66666666666667%;
  margin: 0 1.6666666666666667%;
  *width: 96.66666666666667% -correction;
  *margin: 0 1.6666666666666667% -correction;
  margin-top: 2em;
}
.bio {
  display: inline;
  float: left;
  overflow: hidden;
  width: 46.666666666666664%;
  margin: 0 1.6666666666666667%;
  *width: 46.666666666666664% -correction;
  *margin: 0 1.6666666666666667% -correction;
  margin-left: 0;
  margin-top: 4em;
  margin-bottom: 4em;
}
.bio img {
  display: inline;
  float: left;
  overflow: hidden;
  width: 21.666666666666668%;
  margin: 0 1.6666666666666667%;
  *width: 21.666666666666668% -correction;
  *margin: 0 1.6666666666666667% -correction;
}
.bio hgroup {
  display: inline;
  float: left;
  overflow: hidden;
  width: 71.66666666666667%;
  margin: 0 1.6666666666666667%;
  *width: 71.66666666666667% -correction;
  *margin: 0 1.6666666666666667% -correction;
}
.bio hr {
  margin-top: 0;
}
.bio hgroup a {
  color: #cc333f;
}
.bio h1 {
  margin-bottom: 0;
}
.bio .double {
  margin-bottom: 1em;
}
.pic {
  padding-top: 1em;
}
.bio .serif {
  margin-bottom: 2em;
}
#christian {
  float: right;
}
/* About  */
#banner-contact {
  background-image: url("../images/banner-contact.jpg");
}
form {
  margin-top: 3em;
}
#budget-note {
  display: inline;
  float: left;
  overflow: hidden;
  width: 30%;
  margin: 0 1.6666666666666667%;
  *width: 30% -correction;
  *margin: 0 1.6666666666666667% -correction;
}
#left {
  display: inline;
  float: left;
  overflow: hidden;
  width: 30%;
  margin: 0 1.6666666666666667%;
  *width: 30% -correction;
  *margin: 0 1.6666666666666667% -correction;
}
#right {
  display: inline;
  float: left;
  overflow: hidden;
  width: 30%;
  margin: 0 1.6666666666666667%;
  *width: 30% -correction;
  *margin: 0 1.6666666666666667% -correction;
}
label,
input,
select,
textarea {
  display: inline;
  float: left;
  overflow: hidden;
  width: 96.66666666666667%;
  margin: 0 1.6666666666666667%;
  *width: 96.66666666666667% -correction;
  *margin: 0 1.6666666666666667% -correction;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
input,
select,
textarea {
  background-color: #111;
  border: 1px solid #2d2d2d;
  font-size: 1em;
  color: #fff;
  outline: none;
  width: 90%;
  padding: 10px;
  -webkit-appearance: none;
}
input,
textarea {
  -moz-box-shadow: inset 0 0 5px #000;
  -webkit-box-shadow: inset 0 0 5px #000;
  -moz-box-shadow: inset;
  -webkit-box-shadow: inset;
  box-shadow: inset;
}
input:hover,
select:hover,
textarea:hover {
  border-color: #333;
}
input:focus,
select:focus,
textarea:focus {
  border-color: #444;
}
select {
  width: 98%;
  margin: 5px;
  -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.30);
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px;
  -webkit-box-shadow: 0px;
  box-shadow: 0px;
  background: #111 url("../images/select.png") no-repeat right center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
optgroup {
  border: 0;
  border: none;
}
option {
  border: none;
}
select:hover {
  background: #121212 url("../images/select.png") no-repeat right center;
}
textarea {
  height: 16em;
}
label {
  margin-bottom: 0.5em;
}
input {
  margin-bottom: 1em;
}
#submit {
  width: 55%;
  margin-top: 2em;
  float: right;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.30);
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px;
  -webkit-box-shadow: 0px;
  box-shadow: 0px;
}
#submit:hover {
  background-color: #121212;
}
/* RWD */
@media screen and (max-width: 1140px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 1490px) {
  .banner {
    background-size: 100%;
  }
}
