body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
@import "reset.css";
@import "buttons.css";
.container {
  width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}
body {
  margin: 0;
  font-size: 100%;
  font-family: 'Crimson Text', Georgia, Times, sans-serif;
  line-height: 1.5em;
}
a {
  text-decoration: none;
  color: #48666e;
}
a:hover {
  color: #e4b253;
}
p {
  margin-bottom: 1em;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 0.125em;
  font-size: 125%;
  font-size: italic;
}
h3 {
  text-transform: uppercase;
  letter-spacing: 0.125em;
  margin-bottom: 1em;
}
header {
  background-image: url("../images/header-bg.png");
  padding-top: 0em;
}
#logo {
  display: inline;
  float: left;
  overflow: hidden;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  *width: 31.25% -correction;
  *margin: 0 1.0416666666666665% -correction;
  background: url("../images/logo.png") no-repeat;
  height: 134px;
  text-indent: -999em;
}
#logo:hover {
  background: url("../images/logo_hover.png") no-repeat;
}
nav {
  display: inline;
  float: left;
  overflow: hidden;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
  *width: 64.58333333333334% -correction;
  *margin: 0 1.0416666666666665% -correction;
  text-align: right;
  text-transform: uppercase;
  padding-top: 56px;
  letter-spacing: 0.125em;
}
nav span {
  color: #e4b253;
  margin-left: 20px;
}
nav a {
  color: #f4f5f0;
  margin-left: 20px;
}
nav a:hover {
  color: #e4b253;
}
hr {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
  border: none;
  height: 2px;
  background: url("../images/hr.gif");
  margin-bottom: 2em;
}
#info {
  display: inline;
  float: left;
  overflow: hidden;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  *width: 47.91666666666667% -correction;
  *margin: 0 1.0416666666666665% -correction;
  color: #fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.5em;
}
#button {
  background: url("../images/button.png") no-repeat;
  width: 254px;
  height: 64px;
  text-indent: -999em;
  background-position: top;
}
#button:hover {
  background-position: center;
}
#button:active {
  background-position: bottom;
}
#hero {
  display: inline;
  float: left;
  overflow: hidden;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  *width: 47.91666666666667% -correction;
  *margin: 0 1.0416666666666665% -correction;
  background: url("../images/hero.png") no-repeat;
  height: 338px;
}
/* CONTENT */
#content {
  background-image: url("../images/content-bg.png");
}
#content-separator-top {
  background-image: url("../images/content-separator-top.png");
  height: 9px;
  margin-bottom: 2em;
}
#content-separator-bottom {
  background-image: url("../images/content-separator-bottom.png");
  height: 10px;
  margin-top: 3em;
}
#content .title {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
  font-style: italic;
}
.description {
  font-style: italic;
}
#content .quart {
  display: inline;
  float: left;
  overflow: hidden;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  *width: 22.916666666666664% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
#conent .quart img {
  margin-top: 2em;
  margin-bottom: 1em;
  width: 100%;
  border: 5px solid #fff;
  -moz-box-shadow: 0px;
  -webkit-box-shadow: 0px;
  box-shadow: 0px;
}
#content .quart p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
}
#content hgroup a {
  font-size: italic;
}
.project {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
  padding-top: 1em;
  width: 100%;
  margin: 0;
}
.project-info {
  display: inline;
  float: left;
  overflow: hidden;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  *width: 31.25% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.project-name {
  margin-bottom: 0;
  margin-top: 0;
}
.screenshot {
  display: inline;
  float: left;
  overflow: hidden;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
  *width: 64.58333333333334% -correction;
  *margin: 0 1.0416666666666665% -correction;
  float: right;
  border: 4px solid #fff;
  -moz-box-shadow: 0px;
  -webkit-box-shadow: 0px;
  box-shadow: 0px;
  margin: 0 5px;
  margin-bottom: 5em;
}
#intro {
  display: inline;
  float: left;
  overflow: hidden;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  *width: 31.25% -correction;
  *margin: 0 1.0416666666666665% -correction;
  font-size: 112.5%;
}
#intro img {
  width: 100%;
}
.person {
  display: inline;
  float: left;
  overflow: hidden;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  *width: 31.25% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.person hr {
  height: 0;
  border-top: 1px solid #959595;
  margin-bottom: 1em;
}
.person h3 {
  margin-bottom: 0;
}
.job-title {
  text-transform: uppercase;
  color: #555;
  font-size: 90%;
  letter-spacing: 0.125em;
}
#intro img {
  width: 100%;
}
.person {
  display: inline;
  float: left;
  overflow: hidden;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  *width: 31.25% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.person hr {
  height: 0;
  border-top: 1px solid #959595;
  margin-bottom: 1em;
}
.person h3 {
  margin-bottom: 0;
}
.job-title {
  text-transform: uppercase;
  color: #555;
  font-size: 90%;
  letter-spacing: 0.125em;
}
.person img {
  border: 1px solid #000;
  margin-bottom: 1em;
  width: 100%;
}
.person-description {
  font-size: 112.5%;
}
/* FOOTER */
footer {
  background-image: url("../images/footer-bg.png");
  padding: 2em;
}
.dots {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
  background-image: url("../images/dots.gif");
  height: 1px;
  margin: 1em 0;
}
.head,
.location {
  display: inline;
  float: left;
  overflow: hidden;
  width: 39.58333333333333%;
  margin: 0 1.0416666666666665%;
  *width: 39.58333333333333% -correction;
  *margin: 0 1.0416666666666665% -correction;
  margin-left: 0;
}
.subhead,
.number {
  display: inline;
  float: left;
  overflow: hidden;
  width: 56.25%;
  margin: 0 1.0416666666666665%;
  *width: 56.25% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
#testimonial {
  display: inline;
  float: left;
  overflow: hidden;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  *width: 47.91666666666667% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
#bubble-wrap {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
  margin: 0;
}
#bubble {
  background: #f4f5f0;
  border: solid 1px #b9bab6;
  -moz-box-shadow: 0px;
  -webkit-box-shadow: 0px;
  box-shadow: 0px;
}
#bubble p {
  padding: 1em;
  font-style: italic;
  line-height: 1.5em;
  font-size: 125%;
}
#tail {
  background-image: url("../images/tail.png");
  width: 20px;
  height: 17px;
  margin: -3px 0 0 40px;
  z-index: 100;
}
#author {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
  margin-top: 0.5em;
}
author {
  text-transform: uppercase;
}
#location {
  font-style: italic;
}
#twitter {
  display: inline;
  float: left;
  overflow: hidden;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  *width: 47.91666666666667% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
#contact {
  display: inline;
  float: left;
  overflow: hidden;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  *width: 47.91666666666667% -correction;
  *margin: 0 1.0416666666666665% -correction;
  margin-top: 2em;
}
#twitter_update_list {
  list-style-type: none;
}
#contact-back {
  display: inline;
  float: left;
  overflow: hidden;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  *width: 81.25% -correction;
  *margin: 0 1.0416666666666665% -correction;
  background-image: url("../images/contact-border.png");
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  padding: 0.5em;
  margin: 1em 0;
}
#contact-top {
  background-color: #fff;
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #c9c9c9;
  margin-left: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
}
#left {
  display: inline;
  float: left;
  overflow: hidden;
  width: 39.58333333333333%;
  margin: 0 1.0416666666666665%;
  *width: 39.58333333333333% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
#right {
  display: inline;
  float: left;
  overflow: hidden;
  width: 56.25%;
  margin: 0 1.0416666666666665%;
  *width: 56.25% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
label {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
  color: #545658;
  height: 2.5em;
  margin-bottom: 1.5em;
}
textarea {
  height: 14em;
  padding-top: 1em;
}
input:focus,
textarea:focus {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #bbb;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
  color: #545658;
}
select {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.highlight:hover {
  background: #f00;
}
