@import "grid"
@import "reset.css"
@import "buttons.css"

box-shadow(args)
  -moz-box-shadow args
  -webkit-box-shadow args
  box-shadow args

border-radius(args)
  -webkit-border-radius args
  -moz-border-radius args
  border-radius args

column-width = 60
gutter-width = 20
columns = 12

total-width = 100%

light = #f4f5f0
blue = #48666e
yellow = #e4b253

serif = 'Crimson Text', Georgia, Times, sans-serif
sans = "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
